<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Getting Started: Serving Web Content</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->

<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<!--<a href="/testPage">linkToPage</a>-->
<!--<form action="" method="post">-->
<!--    <h3>Login</h3>-->
<!--    <input type="text" class="LoginInput" >-->
<!--    <h3>Password</h3>-->
<!--    <input type="password" name="" id="" class="PasswordInput">-->
<!--    <button type="submit">checkIT</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->